
<div> 
  <mat-toolbar >
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon class="fa fa-bars"></mat-icon>
      </button>

    <a mat-button routerLink="/">
      <span class="fa fa-home"></span>
    </a>
    <span class="example-spacer"></span>
    <div fxShow="true" fxHide.lt-md="true">
      <a mat-button routerLink="/logo"> Logo </a>
      <a mat-button routerLink="/dropdown">Dropdown </a>
      <a mat-button routerLink="/search"> Search </a>
    </div>
  </mat-toolbar>

  <mat-sidenav-container>
    <mat-sidenav  #sidenav >
      <div fxLayout="column">
        <a mat-button routerLink="/logo"> Logo </a>
        <a mat-button routerLink="/dropdown">Dropdown </a>
        <a mat-button routerLink="/search"> Search </a>
      </div>
    </mat-sidenav>
  </mat-sidenav-container>
</div>